 body{
    margin-top: 0;
    padding: 0;
}
body:open{
    background-color: black;
}
.name{
    font-size: x-large;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 65px;
    top: 10px;
}
.space{
    font-size: larger;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 170px;
    top: 70px;
    color: darkgreen;
}
 .nev{
    font-size: larger;
    font-weight: 400;
    position: absolute;
    right: 100px;
    top: 75px;
    color: beige;
    
}
.active{
    color: rgb(46, 5, 5);}
a{
    color: darkgreen;
    text-decoration: none;
}

a:hover{
    color: rgb(46, 5, 5);
}

.main a{
    color: black;
}
.bg{
    height: 600px;
    margin-top: 170px;
   padding-left: 150px;
    width: 80%;
   background-repeat: no-repeat;
      background-size: cover;
}
.blur{
    position: absolute;
    top:300px ;
    right: 300px;
    text-align: center;
    line-height: 1;
    -webkit-backdrop-filter: blur(2x);
    backdrop-filter: blur(2px);
    max-width: 50%;
    max-height: 50%;
    padding: 10px 10px 40px;
    background-color: rgba(91, 88, 69, 0.649);
}

.logo{
    position: absolute;
    color: beige;
    width: 12%;
}
.logo2{
    position: absolute;
    color: beige;
    width: 14%;
    right: 80px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "On";
    color: black;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  