body{
    
    margin: 0;
    padding: 0;
}
.upperFooter{
    background-color: gray;
    display: 
}
.name{
    font-size: 30px;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 65px;
    top: 10px;
}
.space{

font-size: 16px;
position: absolute;
    margin: 0;
    padding: 0;
    left: 170px;
    top: 40px;
    color: darkgreen;
}
.nev{
    font-size: larger;
    font-weight: 400;
    position: absolute;
    right: 100px;
    top: 75px;
    color: beige;
}
.brand{

}
.front-page{
   
    height: 100vh;
    width: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}